<%-include("./partials/header.ejs")%>

    <div class="ui main text container segment">
        <div class="ui huge header">New TASK</div>
        <form class="ui form" action="/task" method="POST">
            <div>
                <label>Title</label>
                <input type="text" name="todo[title]" placeholder="Title" required>
            </div>
            <div>
                <label>Todo Content</label>
                <textarea name="todo[body]" placeholder="Description of task" required></textarea>
            </div>
            <div>
                <label for="meeting-time">Deadline:</label>
                <input type="datetime-local" id="meeting-time" name="todo[deadline]" required>
            </div>

            <div>
                <label>Time taken to complete</label>
                <div>
                    <label for="hour">in hours</label>
                    <input type="number" id="hour" name="todo[hours]" min="0" placeholder="Hours needed to complete the task" required>
                    <label for="minutes">in minutes</label>
                    <input type="number" id="minutes" name="todo[minutes]" min="0" max="59" placeholder="Minutes needed to complete the task" required>
                </div>
            </div>

            <div>
                <label for="priority">Choose priority:</label>

                <select name="todo[priority]" id="priority" required>
                    <option value="">--Please choose an option--</option>
                    <option value="1">High</option>
                    <option value="0">Medium</option>
                    <option value="-1">Low</option>

                </select>
            </div>    

            <input class="ui violet basic big button" type="submit">
            <a class="ui violet basic big button" href="/homepage">Back</a>
        </form>
    </div>

<%-include("./partials/footer.ejs")%>